body{
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
}

.perfil{
    background: white;
    width: 400px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
}

.foto{
    width: 250px;
    height: 250px;
    border-radius: 10%;
}